@import url(https://fonts.bunny.net/css?family=bebas-neue:400);


body {
    font-family: 'Bebas Neue', display;
    font-size: large;
    background: black
    
}

h1 {
    text-align: center;
    box-sizing: content-box;
    position:relative;
    color: white;

}

label {
    font-size: 1.2em;
    color: white;
}

textarea {
    width: 60%;
    height: 20px;
}

#output {
    display: flex;
    flex-wrap: wrap;
}

.group {
    background-color:#e50914;
    border-radius: 6px;
    border-width: 1.8px;
    padding: 10px;
    margin: 5px;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
}
button{
    width: 10%;
    font-size: 20px;
    height: 39px;
    border: 0;
    background-color: #e50914;
    color: white;
    border-radius: 0 6px 6px 0;
    cursor: pointer;
    
}
button:hover {
    background-color: #c11119;
    transition: 0.7s;
}
