body {
    font-family: 'Montserrat', sans-serif;
    font-size: large;
    background: rgb(238,174,202);
    background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

h1 {
    text-align: center;
    box-sizing: content-box;
    position:relative;

}

label {
    font-size: 1.2em;
}

textarea {
    width: 60%;
    height: 20px;
}

#output {
    display: flex;
    flex-wrap: wrap;
}

.group {
    background-color: #ee9cea;
    border: 1px solid #8b5ef5;
    border-radius: 6px;
    border-width: 1.8px;
    padding: 10px;
    margin: 5px;
}