.container {
	max-width: 600px;
	margin: 0 auto;
	padding: 20px;
}

h1 {
	text-align: center;
}

form {
	display: flex;
	flex-direction: column;
}

label {
	margin-top: 10px;
}

input[type="text"],
input[type="number"],
select {
	margin-bottom: 10px;
}

button {
	margin-top: 20px;
	align-self: center;
}

#resultat {
	margin-top: 20px;
}